{
  "extends": ["airbnb-base"],
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off"
  }
}
